:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 50px;
}

img {
  max-width: 100%;
  margin: 50px auto;
  display: block;
}

.image-1 {
  width: 400px;
}

.image-2 {
  width: 500px;
}
